body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }

#main {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
}

#population_chart {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.center-dropdown-items .dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.position-fixed {
  z-index: 1050;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 1400px) {
  .button-offCanvas {
    display: none;
  }
}

.focus-animation {
  animation: focusAnimation 1s infinite ease-in-out;
}

@keyframes focusAnimation {
  0% {
      transform: scale(1);
      color: #000;
  }
  50% {
      transform: scale(1.2);
      color: #007bff;
  }
  100% {
      transform: scale(1);
      color: #000;
  }
}

@media (max-width: 1400px) {
  .title-countries {
    display: none;
  }
}

#offcanvas-createList .offcanvas-header .btn-close {
  margin: auto;
  padding: auto;
  align-self: center;
}




