body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }

#main {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
  overflow: hidden;
}

#population_chart {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

/*.container-chart {
  width: '100%';
  height: 'auto';
  overflow: 'hidden';
  position: 'relative';
}*/

.center-dropdown-items .dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.position-fixed {
  z-index: 1050;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 1400px) {
  .button-offCanvas {
    display: none;
  }
}

/*@media (max-width: 993px) {
  .container-chart {
    margin-top: 0px !important;
  }
  .buttons-configuration {
    margin-top: 0px !important;
  }
}
@media (min-width: 992px) {
  .container-chart {
    margin-top: 40px !important;
  }
  #main {
    top: 40px !important;
  }
  .buttons-configuration {
    margin-top: 30px !important;
  }
}*/



